<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Homepage</title>
  </head>
  <body>
    <h1>Welcome to the Puppy Adoption Site!</h1>
    
    <%= @name %>
    <%= @breed %>
    <%= @age %>
    
  </body>
</html>